* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 0.24rem;
  font-weight: normal;
  text-decoration: none;
}
html {
  font-size: 1rem;
}
body {
  height: 100%;
  background-color: #0dcff5;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
img {
  vertical-align: middle;
  border: 0;
}
input {
  line-height: normal;
}
.row- {
  margin: 0;
}
