@import "all.less";

.rule {
  hr {
    background-color: #21a9c3;
    border: 0;
    height: 1px;
    margin-top: .36rem;
  }

  .container.section1 {
    height: 2rem;
    border-bottom: 1px dashed #21a9c3;

    .row {
      padding: 0.1rem .05rem 0;

      p {
        width: 100%;
        margin-top: .15rem;
        margin-bottom: 0;
        color: #000000;
        font-size: .2rem;
        overflow: hidden;

        label, span {
          float: left;
          color: #000000;
          font-size: .2rem;
          margin-bottom: 0;
          font-weight: normal;
        }

        label {
          //width: 17%;
        }

        span {
          width: 78%;
        }
      }
    }
  }
  .container.section2 {
    border-bottom: 1px dashed #21a9c3;

    .row {
      padding: 0.1rem .05rem 0;

      h2 {
        margin: 0;
        color: #000000;
        font-size: .24rem;
      }

      p {
        width: 100%;
        margin-top: .15rem;
        margin-bottom: 0;
        color: #000000;
        font-size: .2rem;
        overflow: hidden;

        label, span {
          float: left;
          color: #000000;
          font-size: .2rem;
          margin-bottom: 0;
          font-weight: normal;
        }

        label {
          //width: 17%;
        }
        
        span {
          width: 78%;
        }
      }
    }
  }
}
