* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 0.24rem;
  font-weight: normal;
  text-decoration: none;
}
html {
  font-size: 1rem;
}
body {
  height: 100%;
  background-color: #0dcff5;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
img {
  vertical-align: middle;
  border: 0;
}
input {
  line-height: normal;
}
.row- {
  margin: 0;
}
.rule.container-fluid {
  padding: .1rem .2rem 0;
  background: url("../images/rulebg_4.png") no-repeat 3.5rem -0.6rem, url("../images/rulebg_1.png") no-repeat 2.5rem 1.22rem, url("../images/rulebg_2.png") no-repeat -0.6rem 5rem, url("../images/rulebg_3.png") no-repeat 5rem 7rem, url("../images/rulebg_6.png") no-repeat 4.8rem 10.8rem, url("../images/rulebg_4.png") no-repeat 2.1rem 11rem, url("../images/rulebg_7.png") no-repeat -0.55rem 11.2rem;
}
.rule .padding-top {
  padding-top: .1rem;
}
.rule .container .row {
  background: url("../images/border.png") repeat-x bottom center;
  background-size: .11rem;
}
.rule .container .row h2 {
  margin: 0;
  margin-left: -0.13rem;
  color: #000000;
  font-size: .24rem;
}
.rule .container .row h4 {
  margin: 0;
  margin-top: .08rem;
  color: #021b20;
  font-size: .16rem;
}
.rule .container .row p {
  width: 100%;
  margin-top: .15rem;
  margin-bottom: 0;
  color: #021b20;
  font-size: .2rem;
  overflow: hidden;
}
.rule .container .row p label,
.rule .container .row p span {
  float: left;
  display: block;
  color: #021b20;
  font-size: .2rem;
  margin-bottom: 0;
  font-weight: normal;
}
.rule .container .row p label {
  width: 17%;
}
.rule .container .row p span {
  width: 83%;
}
.rule .container.section1 .row {
  height: 1.5rem;
}
.rule .container.section1 .row p span {
  width: 80%;
  text-align: left;
}
.rule .container.section2 .row {
  padding: .1rem 0;
}
.rule .container.section2 .row label {
  width: 20%;
}
.rule .container.section2 .row span {
  width: 80%;
}
.rule .container.section3 .row {
  padding-bottom: .1rem;
}
.rule .container.section3 .row p {
  margin-top: .1rem;
}
.rule .container.section3 .row label {
  width: 25%;
}
.rule .container.section3 .row span {
  width: 75%;
}
.rule .container.section4 .row {
  height: 2.4rem;
  padding: 0.1rem .05rem 0;
  background: none;
}
.rule .container.section4 .row h2 {
  margin: 0;
  color: #016f86;
  font-size: .16rem;
}
.rule .container.section4 .row p {
  margin-top: .1rem;
  color: #016f86;
  font-size: .16rem;
}
.rule .container.section4 .row p label,
.rule .container.section4 .row p span {
  color: #016f86;
  font-size: .16rem;
}
