* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 0.24rem;
  font-weight: normal;
  text-decoration: none;
}
html {
  font-size: 1rem;
}
body {
  height: 100%;
  background-color: #0dcff5;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
img {
  vertical-align: middle;
  border: 0;
}
input {
  line-height: normal;
}
.row- {
  margin: 0;
}
.mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}
.mask .box {
  position: relative;
  top: 0;
  right: 0;
  width: 6rem;
  height: auto;
  margin: 0 auto;
}
.mask .box .icon {
  position: absolute;
  top: 2.2rem;
  right: .3rem;
  z-index: 1;
  cursor: pointer;
  opacity: .6;
}
.mask .box .icon img {
  width: .3rem;
}
.mask .box .icon:active {
  opacity: 1;
}
.mask .box ul {
  position: relative;
  top: 2rem;
  width: 6rem;
  height: 3.5rem;
  background-color: #fff;
  border-radius: .1rem;
  margin: 0 auto;
  padding-top: 1px;
  list-style: none;
}
.mask .box ul li {
  width: 3.31rem;
  height: .6rem;
  margin: 0 auto;
  margin-top: .6rem;
  font-size: .28rem;
  line-height: .6rem;
  text-align: center;
}
.mask .box ul li img {
  width: 2.02rem;
}
.mask .box ul li div {
  margin-top: .1rem;
}
.mask .box ul li div p {
  height: .4rem;
  margin: 0;
  color: #8d8e91;
  font-size: .26rem;
}
.mask .share-bg {
  position: relative;
  top: 0;
  right: 0;
  width: 6.4rem;
  height: 4.5rem;
  margin: 0 auto;
  background: url('../images/share_bg.png') no-repeat 50% 50%;
}
.rule.container-fluid {
  padding: .1rem .2rem 0;
  background: url("../images/rulebg_4.png") no-repeat 3.5rem -0.6rem, url("../images/rulebg_1.png") no-repeat 2.5rem 1.22rem, url("../images/rulebg_2.png") no-repeat -0.6rem 5rem, url("../images/rulebg_3.png") no-repeat 5rem 7rem, url("../images/rulebg_6.png") no-repeat 4.8rem 10.8rem, url("../images/rulebg_4.png") no-repeat 2.1rem 11rem, url("../images/rulebg_7.png") no-repeat -0.55rem 11.2rem;
}
.rule .padding-top {
  padding-top: .1rem;
}
.rule .container .row {
  background: url("../images/border.png") repeat-x bottom center;
  background-size: .11rem;
}
.rule .container .row h2 {
  margin: 0;
  margin-left: -0.13rem;
  color: #000000;
  font-size: .24rem;
}
.rule .container .row h4 {
  margin: 0;
  margin-top: .08rem;
  color: #021b20;
  font-size: .16rem;
}
.rule .container .row p {
  width: 100%;
  margin-top: .15rem;
  margin-bottom: 0;
  color: #021b20;
  font-size: .2rem;
  overflow: hidden;
}
.rule .container .row p label,
.rule .container .row p span {
  float: left;
  display: block;
  color: #021b20;
  font-size: .2rem;
  margin-bottom: 0;
  font-weight: normal;
}
.rule .container .row p label {
  width: 22%;
}
.rule .container .row p span {
  width: 78%;
}
.rule .container.section1 .row {
  padding: .1rem 0;
}
.rule .container.section1 .row p {
  margin-top: .1rem;
}
.rule .container.section1 .row label {
  width: 22%;
}
.rule .container.section1 .row span {
  width: 78%;
}
.rule .container.section2 .row {
  padding: .1rem 0;
}
.rule .container.section2 .row p {
  margin-top: .1rem;
}
.rule .container.section2 .row label {
  width: 22%;
}
.rule .container.section2 .row span {
  width: 78%;
}
.rule .container.section3 .row {
  padding: .1rem 0;
}
.rule .container.section3 .row p {
  margin-top: .1rem;
}
.rule .container.section3 .row label {
  width: 22%;
}
.rule .container.section3 .row span {
  width: 78%;
}
.rule .container.section4 .row {
  height: 2.4rem;
  padding: 0.1rem .05rem 0;
  background: none;
}
.rule .container.section4 .row h2 {
  margin: 0;
  color: #016f86;
  font-size: .16rem;
}
.rule .container.section4 .row p {
  margin-top: .1rem;
  color: #016f86;
  font-size: .16rem;
}
.rule .container.section4 .row p label,
.rule .container.section4 .row p span {
  color: #016f86;
  font-size: .16rem;
}
