.login {
  @width: 3.88rem;
  @height: .66rem;
  :-moz-placeholder {
    color: red;
  }

  .row {
    text-align: center;
    .input {
      width: @width;
      margin: .2rem auto;
      .form-control {
        height: @height;
        background-color: #07aed0;
        margin-bottom: .14rem;
        color: #81eaff;
        font-size: .2rem;
        text-align: center;
        border: 2px solid #000;
      }
      #code {
        float: left;
        width: 2.42rem;
        margin-right: .04rem;
      }
      #btn {
        float: left;
        width: 1.42rem;
        padding: 0;
      }
      .btn-lg {
        height: .96rem;
        border: .04rem solid #000000;
        background-color: @color-btn-lg;
        margin-top: .68rem;
        margin-bottom: .09rem;
        color: #000000;
        font-size: .34rem;
        font-weight: bold;
        border-radius: 40rem;
      }
      a {
        font-size: .22rem;
        color: #05839c;
      }

    }
    .text {
      color: #ffffff;
      margin-top: .44rem;
      margin-bottom: .5rem;
    }
  }
}
.login.hongbao {
  .row {
    .input.hongbao {
      margin: -.5rem auto .2rem;
      .btn-lg {
        height: .96rem;
        border: .04rem solid #616E76;
        background-color: #7F939A;
        margin-top: .1rem;
        margin-bottom: .09rem;
        color: #E7F9FD;
        font-size: .34rem;
        font-weight: bold;
        border-radius: 40rem;
      }
      .unlock {
        border-color: #000;
        background-color: #fe2d02;
      }
    }
    .text {
      color: #ffffff;
      margin-top: -.05rem;
      margin-bottom: .1rem;
      font-size: 5px;
      a{
        color: #C9FFFF;
        font-size: .2rem;
      }
    }
  }

  //  .login.hongbao .row .text {
  //    color: #ffffff;
  //    margin-top: -.05rem;
  //    margin-bottom: .1rem;
  //    font-size: 5px;
  //    a{
  //      color: #C9FFFF;
  //      font-size: .2rem;
  //    }
  //  }
}
