<div class="container-fluid">
  <div class="row input-group input-group-lg margin-top">
    <span class="input-group-addon ">绑定手机：</span>
    <input type="tel" class="input-control" placeholder="请输入手机号" maxlength="11" ng-model="inputBindPhone">
  </div>
  <!--<div class="input-group input-group-lg margin-top">-->
    <!--<span class="input-group-addon ">验证码：</span>-->
    <!--<input type="text" class="input-control " placeholder="请输入验证码">-->
  <!--</div>-->
  <div class="row input-group input-group-lg margin-top">
    <span class="input-group-addon ">验证码：</span>
    <input type="tel" class="input-control" placeholder="请输入验证码" ng-model="inputBindCode">
    <span class="input-group-addon btn" ng-click="getBindCode()" ng-disabled="disableBindCodeBtn">{{bindCodeBtnText}}</span>
  </div>
  <div class="text-center">
    <button class="btn" type="button" ng-click="submitBind()">提交</button>
  </div>
  <div id="mask" class="mask" ng-show="settings.isShowAlertPanel" alert-window=""></div>
</div>
