<div class="container-fluid">
  <div class="input-group input-group-lg margin-top">
    <span class="input-group-addon ">绑定手机：</span>
    <input type="tel" class="input-control " placeholder="请输入手机号">
  </div>
  <div class="input-group input-group-lg margin-top">
    <span class="input-group-addon ">验证码：</span>
    <input type="text" class="input-control " placeholder="请输入验证码">
  </div>
  <div class="input-group input-group-lg margin-top">
    <span class="input-group-addon ">验证码：</span>
    <input type="text" class="input-control " placeholder="请输入验证码">
    <span ng-click="getCode()" class="input-group-addon btn">获取验证码</span>
    <span class="input-group-addon btn again active">重新获取(<span id="time">50s</span>)</span>
  </div>
  <div class="text-center">
    <button ng-click="submitBindPhone()" class="btn" type="button">提交</button>
  </div>
</div>
