<div class="login hongbao container-fluid">
  <div class="row text-center">
    <img id="bg" class="img_pin" src="images/bg.jpg" alt="" width="100%"/>
    <!--<img id="bg_border" class="" src="images/fg_cloud.png" alt="" width="100%"/>-->
  </div>
  <div class="row">
    <div class="input from-group hongbao">
      <img src="images/517_hongbao.png" alt="" style="width: 100%;">
      <button id="register" type="button" class="btn btn-lg form-control" ng-click="settings.unlockActivity()" ng-class="{'unlock': settings.activityUnlock}">{{settings.homeBtnText}}</button>
      <a class="text-center" href="#/rule">查看活动规则》</a>

    </div>
    <p class="text"><a href="" ng-click="download()">点击下载App</a></p>
  </div>
</div>
