<div class="rule container-fluid">
  <section class="container section1">
    <div class="row">
      <p><label>活动时间：</label><span>5.3 10点-5.27 24点；</span></p>
      <p><label>活动详情：</label><span>参与活动可获得全球美食狂欢节-吃货护照哦，完成登录/注册签证、消费签证、组团签证，最高可免费得517元吃货福利哦。</span></p>
    </div>
  </section>
  <section class="container section2">
    <div class="row">
      <div class="box">
        <h2>【吃货新人】</h2>
        <h4>2016年5月3日早10点后，通过吃货护照首次注册我买网的用户</h4>
        <p><label>1.注册签证：</label><span>参与注册即可获得40元吃货福利（满39减20元生鲜券、满39减20元常温券各1张）</span></p>
        <p><label>2.消费签证：</label><span>获得注册签证、成功下单且签收用户可获得60元吃货福利（满99减30元进口食品券、满99减30元酒券各1张）</span></p>
        <p><label>3.组团签证：</label><span>通知小伙伴即可获得417元福利（满199减50元生鲜券，满199减50元常温券,价值317元18年苏格兰威士忌酒劵各1张）</span>
        </p>
      </div>
      <div class="box">
        <h2>【资深吃货】</h2>
        <h4>2016年5月3日早10点前，我买网注册用户</h4>
        <p><label>1.登录签证：</label><span>参与活动即可获得10元吃货福利（满39元减10元全品类券1张）</span></p>
        <p><label>2.组团签证：</label><span>通知小伙伴、邀请新人注册后可获得417元福利（满199减50元生鲜券，满199减50元常温券,价值317元18年苏格兰威士忌酒劵各1张）</span>
        </p>
      </div>
    </div>
  </section>
  <section class="container section3">
    <div class="row">
      <p><label>折扣券使用规则：</label><span>以上折扣券，团购、闪购、产地直送、跨境购、特惠品及部分礼包不可用。</span></p>
      <p><label>折扣券有效期：</label><span>获取的折扣券从领取之日起5日内有效，折扣券使用的最终有效期截止到5月31日。</span></p>
      <p><label>折扣券数量：</label><span>以上折扣券数量每日限20000份，数量有限送完即止。</span></p>
      <p><label>参与限制：</label><span>同一用户、同一用户ID、同一用户名限参与1次，折扣券不累计赠送。</span></p>
      <p><label>折扣券查看：</label><span>完成以上签证福利会自动解锁。下载APP至我的账户中查看。</span></p>
    </div>
  </section>
  <section class="container section4">
    <div class="row">
      <h2>温馨提示：</h2>
      <p>1、如参加人数较多，卡券可能会延迟加5-10分钟解锁，敬请谅解！</p>
      <p>2、为保证每位用户都能参与活动，公平起见，对于使用违规行为参与活动（违规行为包括使用无效手机恶意注册重复领取、相似地址大量提交订单等），我买网将有权取消违规订单。</p>
      <p>3、在线充值、虚拟订单等不参与以上活动。</p>
    </div>
  </section>
</div>
