<div class="container-fluid">
  <div class="row input-group input-group-lg margin-top">
    <span class="input-group-addon ">用户名：</span>
    <input type="text" class="input-control " placeholder="请输入登录用户名" maxlength="11" ng-model="inputLoginPhone">
  </div>
  <div class="row input-group input-group-lg margin-top">
    <span class="input-group-addon ">密码：</span>
    <input type="password" class="input-control " placeholder="请输入密码" ng-model="inputLoginPassword">
  </div>
  <div class="text-center">
    <button class="btn" type="button" ng-click="submitLogin()">提交</button>
  </div>
</div>
