<div class="container-fluid">
  <div class="row input-group input-group-lg margin-top">
    <span class="input-group-addon ">手机号：</span>
    <input type="tel" class="input-control " placeholder="请输入手机号" ng-model="inputLoginPhone">
  </div>
  <div class="row input-group input-group-lg margin-top">
    <span class="input-group-addon ">密码：</span>
    <input type="password" class="input-control " placeholder="请输入密码" ng-model="inputLoginPassword">
  </div>
  <div class="text-center">
    <button class="btn" type="button" ng-click="submitLogin()">提交</button>
  </div>
</div>
